* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(182, 172, 172) !important;
    height: 3500px;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
}

a:hover {
    color: rgb(212, 12, 12) !important;
    /* ! important is power or strong???? priority*/
}

.goo {
    transition: 3s;
    /* trasition not working?????? */
}

.goo:hover {
    text-shadow: 2px 2px 15px rgb(166, 196, 33);
}

.add {
    transition: 2s;
    font-size: 17px;
    font-weight: bolder;

}

.add:hover {
    transform: scale(1.1, 1.1);
    color: yellow;
}

.carousel-inner .carousel-caption {
    background: rgba(200, 200, 200, 0.3);
    border-radius: 7px;
}

.carousel-caption h1 {
    color: black;
    font-size: 45px;
    font-weight: bolder;
}

.rrr {
    transition: 3s;
}

.rrr:hover {
    transform: scale(2, 2);
    /* why transform not working  */
    color: rgb(184, 14, 14);
}

/* why background-attachment: fixed;  not working  */

.fixed-img {
    width: 100%;
    height: 250px;
    background-color: blue;
    background-attachment: fixed;
    background-size: cover;
}

.imggg {
    width: 100%;
    height: 250px;
}


/* why background-attachment: fixed;  not working  */


.vvv {
    height: 265px;
}

/* why this class for this img tag not come same size as another img????????  */


.tooo:hover {
    height: 400px;
}

.iconn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mmm {
    height: 200px;
    border-radius: 50px;
    transition: 2s;
}

.mmm:hover {
    box-shadow: 1px 2px 30px 5px white inset;
}


.than {
    transition: 2s;
}

.than:hover {
    transform: scale(1.2, 1.2);
    color: brown !important;
}

.ttt{
    transition: 3s;
}
.ttt:hover{
    
    border-radius: 50px;
}

.card-text{
    transition: 3s;
}
.card-text:hover{
    color: yellow;
    font-size: x-large;
}

.myicon{
    height:30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 17px;
}

.footerspan{
transition: 2s;
}

.footerspan:hover{
    
    color: rgb(226, 189, 23);

/* why transform not working  */
    transform: scale(1.2,1.2)!important;
   
}

.footerp{
    transition: 2s;
}

.footerp:hover{
    color: orange;
    cursor: pointer;
    transform: scale(1.2,1.2);
}
.copyr{
    color: white;
}